@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    min-width: 300px;
}

p{
    margin: 0px;
}

h3{
    margin-bottom: 0px;
}

.s_nav{
    width: 100%;
    background: #323941;
}

.s_header{
    width: 100%;
}

body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-track {
    background: #323941;
}

body::-webkit-scrollbar-thumb {
    background: #888;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.box_menu{
    position: relative;
    display: flex;
    align-items: center;
}

.box_nav.active{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    max-width: 200px;
}

.menu_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    max-width: 1200px;
    width: 100%;
    margin: auto;
}

.icons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 200px;
}

.icons a{
    color: white;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.icons_basket{
    position: relative;
    cursor: pointer;
}

.icons_basket_span{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -4px;
    left: 16px;
    font-size: 10px;
    background: #009eff;
    padding: 3px;
    border: 1px solid gray;
    border-radius: 5px;
    width: 13px;
    height: 13px;
}

.icons_p{
    color: white;
}

.phone_icon{
    display: none;
}

.box_nav{
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
}

.nav_a{
    color: white;
    white-space: nowrap;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}

.nav_a:hover{
    color: rgb(170, 170, 170);
    transition: .2s;
}

.drop_down {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    border: 1px solid black;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    border: 1px solid  rgb(170, 170, 170);
    padding: 10px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover{
    background-color: #e2e2e2;
}

.s_show {
    display:block;
}

.button_btn{
    background: none;
    border: none;
    cursor: pointer;
}

.burger_bg{
    cursor: pointer;
    width: 30px;
    height: 30px;
    border-radius: 6px;
    display: none;
}

.burger_btn{
    cursor: pointer;
    position: relative;
    left: 6px;
    width: 20px;
    height: 2px;
    border-radius: 5px;
    background:white;
    transition: transform 0.3s linear, top 0.1s linear 0.3s;
}

.burger_btn::before{
    position: absolute;
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    top: -6px;
    border-radius: 5px;
    background:white;
    transition: transform 0.1s linear, top 0.1s linear 0.1s;
}

.burger_btn::after{
    position: absolute;
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    top: 6px;
    border-radius: 5px;
    background:white;
    transition: transform 0.1s linear, top 0.1s linear 0.1s;
}   

.button_btn.active .burger_btn{
    background: transparent;
}

.button_btn.active .burger_btn::before{
    transform: rotate(45deg);
    top: 0;
    transition: top 0.1s linear, transform 0.1s linear 0.1s;
}

.button_btn.active .burger_btn::after{
    transform: rotate(-45deg);
    top: 0;
    transition: top 0.1s linear, transform 0.1s linear 0.1s;
}

.logo_menu{
    margin: auto ;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo_author{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.s_con{
    max-width: 1300px;
    width: 100%;
    margin: auto;
}

.author_text{
    width: 120px;
}

.author_text_h4{
    color: #323941;
}

.author_text_a{
    text-decoration-line: underline;
    text-transform: lowercase;
    color: #009EFF;
    cursor: pointer;
}

.main_background{
    background: #323941;
}

.operators{
    width: 100%;
}

.op_con{
    max-width: 1200px;
    width: 100%;
    margin: auto;
    position: relative;
}

.ops{
    max-width: calc(100% - 70px);
    width: max-content;
    margin-left: 35px;
    display: flex;
    overflow: hidden;
    margin: auto;
    scroll-behavior: smooth;
}

.ops div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 150px;
    border: 1px solid #555;
    background: gray;
}

.ops div.active{
    background: #009EFF;
}

.op_con a{
    display: flex;
}

.operator{
    cursor: pointer;
    width: 140px;
    height: 150px;
    padding: 20px;
}

.right{
    color: white;
    width: 40px;
    height: 150px;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    color: white;
    width: 40px;
    height: 150px;
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right i,.left i{
    font-size: 20px;
}


.blue{
    background: #009EFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue_h3{
    padding: 10px 0px;
    text-transform: uppercase;
    color: white;
    font-weight: 200;
    text-align: center;
    font-size: 16px;
}

.sec_con{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px 10px ;
    color: #323941;
    display: flex;
    justify-content: space-between;
}

.left_box{
    width: 100%;
    max-width: 60%;
}

.first_box{
    width: 100%;
}

.first_box h3{
    font-weight: 400;
    font-size: 13px;
    line-height: 119.3%;
    padding: 4px 10px;
    width: max-content;
    color: #6ACD68;
    border: 2px solid #6ACD68;
}

.first_box p{
    margin-top: 10px;
    width: 100%;
    max-width: 370px;
    font-weight: 700;
    font-size: 55px;
    line-height: 87.3%;
    text-transform: uppercase;
}

.second_box{
    margin-top: 40px;
    width: 400px;
    height: 550px;
}

.second_box img{
    height: 100%;
    width: 100%;
}

.third_box{
    border: 2px solid #999;
    padding: 20px 15px;
    margin-top: 10px;
    width: 100%;
}

.third_box_war{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 10px;
}

.third_span{
    color: black;
    font-size: 18px;
    font-weight: 800;
}


.third_box_btn{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 100%;

}

.third_box_btn div{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 5px);
    padding: 15px 0px;
    background: #009EFF;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;  
}

.third_box_btn div:hover{
    background: #58bdfc;
}

.price_box{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.price_box div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(33.3% - 5px);
    padding: 10px 0px;
    border: 2px solid #999;
}

.price_box div:hover{
    background: #009EFF;
    color: white;
    cursor: pointer;
}

.price_p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-decoration-line: line-through;
}

.invent_box_p{
    font-weight: 700;
    font-size: 35px;
    line-height: 43px;
}

.invent_box{
    margin: 20px 0px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.invent_left{
    margin-right: 10px;
}

.invent_box h3{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    width: 155px;
    color: #009EFF;
}

.gift_box{
    display: flex;
    width: 100%;
    max-width: 300px;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

.pay_box{
    margin-top: 10px;
    width: 100%;
}

.pay_box_p{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #999;
}

.pay_box_two{
    color: #009EFF;
    font-weight: 600;
    line-height: 22px;
    font-size: 16px;
    margin-left: 6px;
}

.pay_box_two span{
    margin-left: 5px;
}

.pay_p{
    color: #6ACD68;
}

.pay_method{
    display: flex;
    margin-bottom: 10px;
}

.pay_icons{
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.pay_icons img{
    width: 25px;
}

.pay_icons img:last-child{
    border: 1px solid #999;
    padding: 3px;
}

/*     PLUS ACTIVE       */
section{
    margin-bottom: 50px;
}

.plus_active{
    margin: auto;
    width: 100%;
    max-width: 1200px;
    background: linear-gradient(0deg, #EEEEEE 0%, rgba(245, 245, 245, 0.79) 43.81%, rgba(255, 255, 255, 0) 82.46%);
    margin-bottom: 50px;
}

.active_box{
    display: flex;
    border: 1px solid rgb(241, 241, 241);  
}

.box_active{
    cursor: pointer;
    width: 100%;
    margin: auto;
}

.box_active div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    max-width: 100%;
    margin: auto;
    padding: 12px 8px;
}

.box_active.active{
    background: #009EFF;
}

.hide_img{
    display: none;
}

.hide_img.active{
    display: block;
    margin-right: 5px;
}

.saw_img{
    display: block;
}

.saw_img.active{
    display: none;
    margin-right: 5px;
}

.active_p{
    font-weight: 400;
    color:  #999;
    font-size: 18px;
    line-height: 22px;
    width: 100%;
    max-width: 120px;
}

.active_p.active{
    color: white;
}

.active_content{
    background-color: rgb(243, 243, 243);
    margin-bottom: 30px;
}

.content{
    display: none;
    padding: 20px 0px 10px;
    justify-content: space-between;
    width: 100%;
    max-width: 95%;
    margin: auto;
    align-items: center;
}

.content.active{
    display: flex;
}

.content_p_one{
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    text-transform: uppercase;
    color: #323941;
    margin-bottom: 10px;
}

.content_p_two{
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #323941;
    margin-top: 15px;
    width: 100%;
    max-width: 490px;
}

.content_p_nine{
    max-width: 400px;
}

.content img{
    height: 200px;
}

.pack_box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 30px;
}

.pack_right{
    display:flex;
    justify-content: center;
}

.pack_position{
    position: relative;
    display: flex;
}

.pack_img{
    position: absolute;
    top: 0;
    left: -30px;
    right: 0;
}

.pack_left img{
    cursor: pointer;
    width: 450px;
}

.pack_left h3{
    font-weight: 700;
    font-size: 45px;
    line-height: 119.3%;
    text-transform: uppercase;
    color: #323941;
    margin-bottom: 10px;
}

/*               acces_box             */

.acces{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    color: #323941;
}

.acces_h3{
    font-weight: 700;
    font-size: 45px;
    line-height: 119.3%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.acces_icon{
    background-color: #EEEEEE;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.acces_box_h3{
    font-weight: 700;
    font-size: 25px;
    line-height: 23px;
    text-align: center;
    margin: auto;
    text-transform: uppercase;
    width: 100%;
    max-width: 240px;
    margin-bottom: 10px;
}

.box_h3_width{
    max-width: 300px;
}

.acces_box_p{
    width: 280px;
    height: 65px;
    font-weight: 400;
    font-size: 12px;
    line-height: 119.3%;
    text-align: center;
    color: #999999;
    margin: auto;
}

.acces_box{
    display: block;
    text-align: center;
    width: 100%;
    max-width: 33%;
    margin-bottom: 50px;
    border: 1px solid rgb(212, 212, 212);
    padding: 25px 5px;
}

.acces_pay{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin-top: 10px;    
    margin-bottom: 10px;
}

/* .acces_buy{
    font-weight: 400;
    line-height: 119.3%;
    font-size: 13px;
    color: #C6C6C6;
    padding: 15px;
    margin: auto;
    width: 140px;
    border: 1px solid #999;
    cursor: pointer;
}

.acces_buy:hover{
    background-color: #009EFF;
    color: white;
} */

.acces_boxes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 99%;
    margin: auto;
}

.acces_more{
    border-radius: 16px;
    display: flex;
    margin: auto;
    font-size: 18px;
    padding: 15px 80px;
    color: white;
    border: none;
    width: max-content;
    background: gray;
    cursor: pointer;
}

.acces_more:hover{
    background: #009EFF;
}

.img_sec{
    margin: auto;
    width: 100%;
    max-width: 1200px;
    position: relative;
    margin-bottom: 50px;
}

.img_gradient{
    position: absolute;
    left: 0;
    width: 100%;
    height: 250px;
    bottom: 0;
    background: linear-gradient(360deg, #F5F5F5 19.44%, rgba(232, 232, 232, 0) 100%);
}

.sec_img{
    width: 100%;
}

.sec_img_two{
    display: none;
}

.feat_box{
    text-align: center;
    width: 100%;
    max-width: 25%;
    margin-bottom: 35px;
}

.feat_box h3{
    font-weight: 300;
    color: #009EFF;
    font-size: 28px;
}

.feat_box img{
    width: 90px;
}

.feat_box p{
    font-weight: 400;
    font-size: 14px;
    color: #999999;
}

.feat_boxes{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
}

.feat_h3{
    font-weight: 700;
    font-size: 45px;
    line-height: 119.3%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;
}

.overview{
    text-align: center;
    margin-top: 35px;
    text-transform: uppercase;
    color: #323941;
    padding: 0px 5px;
}

.overview_h3{
    font-weight: 700;
    font-size: 42px;
}

.overview_p{
    font-weight: 700;
    font-size: 40px;
}

.overview_img_one{
    width: 100%;
}

.overview_img{
    width: 100%;
    display: none;
}

.overview_img img{
    width: 100%;
}

.overview_img_p{
    display: flex;
    margin: auto;
    width: 100%;
    font-weight: 300;
    font-size: 15px;
    color: #999999;
}

.overview_img_p p{
    padding: 0px 5px;
    text-align: left;
}

footer{
    background: #32393F;
    width: 100%;
    color: white;
}

.fot_con{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 95%;
    margin: auto;
    padding: 20px 0px;
}

.fot_block{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 550px;
}

.fot_block p{
    font-weight: 400;
    font-size: 13px;
    line-height: 119.3%;
    cursor: context-menu;
}

.fot_block p:hover{
    color: rgb(190, 190, 190);
}

/*      active window      */

.reg_con::-webkit-scrollbar{
    width: 0px;
}

.buy_scene{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000ad;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    padding: 0px 20px;
}

.reg_con{
    max-width: 600px;
    border: 5px solid #009EFF;
    overflow-y: scroll;
    width: 100%;
    border-radius: 15px;
    height: 50%;
    padding: 15px;
    background: #323941;
    text-align: center;
    color: white;
}

.reg_h3{
    font-weight: 700;
    font-size: 45px;
}

.reg_p{
    font-weight: 400;
    font-size: 16px;
    width: 100%;
    max-width: 400px; 
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.reg_back{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 40px;
    height: 40px;
    background: #009EFF;
    margin-left: 5px;
}

.reg_back i{
    font-size: 30px;
    color: white;
}

.reg_box{
    display: flex;
    justify-content: space-between;
    width: 95%;
    max-width: 620px;
    height: 95%;
}

.registerbtn {
    background-color: #009EFF;
    color: white;
    padding: 12px 0px;
    border: none;
    cursor: pointer;
    width: 100%;
    max-width: 65%;
    opacity: 0.9;
    border-radius: 10px;
}

.registerbtn:hover {
    opacity: 1;
}

input::placeholder{
    color: rgb(211, 211, 211);
    font-size: 20px;
}

input{
    text-align: center;
    letter-spacing: 2px;
    border-radius: 10px;
}

#input_tel[type=number] {
    padding: 10px 0px;
    background: none;
    border: none;
    width: 70%;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid rgb(177, 177, 177);
    font-size: 18px;
}

#input_tel[type=number]:focus{
    background-color: #ddd;
    outline: none;
}

body.active{
    overflow: hidden;
}

.img_text_block h3{
    font-weight: 700;
    font-size: 50px;
    line-height: 119.3%;
    text-transform: uppercase;
    color: white;
}

.img_text_block p{
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    margin-top: 15px;
}

.images_span{
    font-size: 13px;
    color: gray;
}

.img_text_block{
    width: 100%;
    max-width: 560px;
    position: relative;
    z-index: 5;
}

.images_sec{
    background: #12161f;
    display: flex;
    width: 100%;
    max-width: 1500px;
    padding: 150px 140px;
    margin: auto;
    position: relative;
}
.images_sec_bg{
    background: #12161f;
}

.images_sec_three{
    background: black; 
}

.images_sec img{
    position: absolute;
    z-index: 3;
    height: 100%;
    right: 0;
    top: 0;
}

.img_new{
    display: none;
}

.images_sec_two{
    background: white;
    display: flex;
    width: 100%;
    height: 537px;
    max-width: 1500px;
    padding: 150px 0px;
    margin: auto;
    position: relative;
    justify-content: space-evenly;
}

.img_sec_around{
    max-width: 1200px;
}


.images_sec_two img{
    position: absolute;
    z-index: 3;
    height: 100%;
    left: 0;
    top: 0;
}

.img_text_two{
    width: 100%;
    max-width: 400px;
    position: absolute;
    z-index: 5;
    right: 15px;
}

.img_text_two h3{
    font-weight: 700;
    font-size: 50px;
    line-height: 119.3%;
    text-transform: uppercase;
    color: #323941;
}

.img_text_two p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #323941;
    margin-top: 15px;
}

.images_sec_four{
    background: white;
}

.images_con_four{
    text-align: center;
    margin: auto;
    width: 100%;
    max-width: 1000px;
    padding: 50px 10px;
}

.images_con_four h3{
    font-weight: 700;
    font-size: 50px;
    line-height: 119.3%;
    text-transform: uppercase;
}

.images_con_four p{
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin-top: 20px;
}

.images_con_four img{
    max-width: 100%;
    width: 100%;
}


/*     RECEIPT     */

.main__product-number {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.main__product-btn {
    padding: 5px 15px;
    background: gray; 
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__product-btn:hover {
    background: #009EFF; 
}

.main__product-num {
    margin: 0 10px;
    width: 80px;
    border: 1px solid #d7d8db;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    border-radius: 6px;
    padding: 6px;
}

.main__product-price {
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 10px;
}

.receipt {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    top: 0;
    background: rgba(0, 0, 0, 0.274);
    display: none;
    transition: 0.5s;
    justify-content: center;
    align-items: center;
}

.receipt_top{
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.receipt_back{
    background: rgb(209, 209, 209);
    width: 26px;
    height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    cursor: pointer;
}

.receipt_back:hover{
    background: rgb(170, 170, 170);
}

.receipt.active .receipt__window{
    width: 80%;
    max-width: 600px;
    min-height: 60%;
    background: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    top: -100%;
    position: absolute;
}

.receipt__window-out {
    flex-grow: 1;
    align-self: stretch;
    padding: 15px;
    white-space: pre-wrap;
    overflow-y: scroll;
    height: 30px;
    border: 1px solid #e2e2e2;
    background: rgb(219, 219, 219);
}

.color_js{
    color:#009EFF;
    margin-bottom: 8px;
}
.color_js_two{
    color:#009EFF;
    margin-bottom: -25px;
}

.receipt__window-out::-webkit-scrollbar{
    width: 1px;
}
.receipt__window-out::-webkit-scrollbar-track {
    background: #323941;
}

.receipt__window-out::-webkit-scrollbar-thumb {
    background: #888;
}

.receipt__window-out::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.receipt__window-btn {
    padding:10px 15px;
    text-transform: uppercase;
    color: #fff;
    background: gray;
    font-size: 17px;
    border: none;
    border-radius: 6px;
    margin: 10px 0;
    cursor: pointer;
}

.receipt__window-title {
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
}

@media(max-width:1015px) {
    .images_sec_two{
        display: block;
        padding: 10px;
        text-align: center;
        height: 100%;
    }
    .images_sec_two img{
        position: static;
        display: flex;
        justify-content: center;
        max-width: 730px;
        width: 100%;
        margin: auto;
    }
    .img_text_two{
        max-width: 730px;
        margin: auto;
        text-align: left;
        position: static;
    }
}

@media(max-width:1000px) {
    .pack_box{
        display: inline-block;
        margin: auto;
    }
    .pack_left{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
    }
    .pack_right{
        text-align: center;
        margin-top: 30px;
    }
}

@media(max-width:900px){
    .acces_boxes{
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
    }
    .acces_box{
        margin: 5px;
        max-width: 100%;
        background: rgb(248, 248, 248);
        border: 1px solid #999;
    }
    .acces_more{
        margin-top: 50px;
    }
}

@media(max-width: 855px){
    .img_text_block h3{
        font-size: 35px;
    }
    .img_text_two h3{
        font-size: 35px;
    }
}

@media(max-width: 850px){
    .burger_bg{
        display: block;
    }
    .menu_box{
        padding: 15px;
    }
    .box_nav{
        display: none;
    }
    .phone_icon{
        display: block;
    }
    .icons_p{
        display: none;
    }
    .icons{
        max-width: 80px;
    }
}

@media (max-width:830px) {
    .images_sec{
        padding: 150px 50px;
    }
    .pack_left{
        display: block;
        text-align: center;
    }
    .sec_con{
        display: block;
    }
    .left_box{
        max-width: 100%;
        margin: auto;
    }
    .first_box h3{
        margin: auto;
        padding: 10px 100px;
    }
    .first_box p{
        margin: auto;
        margin-top: 20px;
        text-align: center;
    }
    .second_box{
        margin: auto;
    }
    .pay_box{
        text-align: center;
    }
    .pay_method{
        justify-content: center;
    }
    .first_box p{
        font-size: 40px;
    }
    .pay_icons{
        justify-content: center;
    }
}

@media (max-width:775px) {
    .images_con_four p{
        font-size: 15px;
        line-height: 18px;
        font-weight: 300;
        margin-top: 10px;
    }
    .fot_con{
        display: block;
        text-align: center;
    }
    .fot_con img{
        margin-bottom: 20px;
    }
    .fot_block{
        margin: auto;
    }
    .overview_h3{
        font-size: 30px;
    }
    .overview_p{
        font-size: 26px;
    }
    .content{
        margin: auto;
        justify-content: center;
    }
    .content.active{
        display: inline-block;
        max-width: 100%;
        text-align: center;
    }
    .content_p_two{
        margin: auto;
        padding: 0px 10px;
    }
}


@media (max-width:735px) {
    .active_p{
        display: none;
    }
}

@media (max-width:610px) {
    .fot_block{
        display: block;
    }
    .fot_block p{
        width: 200px;
        margin: auto;
        margin-bottom: 10px;
    }
}

@media (max-width:560px) {
    .images_sec{
        padding: 30px 0px 0px;
    }
    .img_text_block{
        padding: 0px 10px;
        box-shadow: 0px 10px 30px 37px #111520;   
    }
    .shadow{
        box-shadow: 0px 10px 30px 37px black;   
    }

    .images_sec{
        display: block;
    }
    .images_sec img{
        position: static;
        width: 100%;
    }
    .img_new_first{
        display: none;
    }
    .img_new{
        display: block;
        height: 500px;
    }
    .acces_more{
        padding: 10px 45px;
        font-size: 15px;
    }
    .sec_img_two{
        display: block;
        width: 100%;
    }
    .sec_img{
        display: none;
    }
    .feat_box img{
        width: 55px;
    }
    .feat_box{
        margin-bottom: 25px;
    }
    .feat_box h3{
        font-size: 19px;
    }
    .feat_box p{
        font-size: 11px;
    }
    .feat_h3{
        font-size: 30px;
    }
    .pack_img_two{
        width: 300px;
    }
    .pack_img{
        width: 330px;
        left: -15px;
    }
}

@media(max-width: 500px){
    .reg_back{
        width: 33px;
        height: 33px;
    }
    .reg_back i{
        font-size: 20px;
        color: white;
    }
    .images_con_four h3{
        font-size: 30px;
    }
    .overview_img_one{
        display: none;
    }
    .overview_img{
        display: block;
    }
    .overview_h3{
        font-size: 24px;
    }
    .overview_p{
        font-size: 14px;
        color: #009EFF;
    }
    .acces_h3{
        font-size: 30px;
    }
    .pack_left h3{
        font-size: 30px;
    }
    .pack_left img{
        width: 330px;
    }
    .ops div{
        width: 100px;
        height: 125px;
    }
    .operator{
        width: 100px;
        height: 125px;
    }
    .left{
        height: 125px;
        width: 20px;
    }
    .right{
        height: 125px;
        width: 20px;
    }
    .ops{
        max-width: calc(100% - 40px);
        margin-left: 20px;
    }
    .blue_h3{
        font-size: 12px;
    }
    .author_text{
        width: 90px;
    }    
    .logo_author{
        width: 140px;
    }
    .logo_img img{
        width: 130px;
    }
    .logo_author_img{
        width: 40px;
    }
    .author_text{
        font-size: 12px;
    }
    .content_p_ten{
        max-width: 270px;
    }
}

@media (max-width:485px) {
    input::placeholder{
        font-size: 12px;
    }
    .reg_con{
        height: 45%;
    }
    input{
        letter-spacing: 1px;
    }
    #input_tel[type=number] {
        font-size: 13px;
    }
    .reg_h3{
        font-size: 30px;
    }
    .reg_p{
        font-weight: 400;
        font-size: 12px;
        max-width: 300px;
    }
    .registerbtn{
        padding: 8px 0px;
        max-width: 50%;
    }
    .first_box p{
        font-size: 30px;
    }
    .price_box{
        display: block;
        margin: auto;
    }
    .price_box div{
        margin: auto;
        margin-top: 10px;
        width: 100%;
        max-width: 70%;
        padding: 5px 0px;
    }
    .invent_box{
        display: block;
    }
    .invent_left{
        text-align: center;
    }
    .gift_box{
        margin: auto;
        border: 1px solid #999;
    }
    .pay_method{
        display: block;
    }
    .pay_box_two{
        margin: auto;
    }
    .second_box{
        width: 300px;
        height: 400px;
    }
    .pay_icons{
        display: block;
    }
    .third_box_war{
        text-align: center;
    }
}

@media (max-width:450px) {
    .receipt.active .receipt__window{
        width: 95%;
        min-height: 50%;
    }
    .img_text_block h3{
        font-size: 20px;
        max-width: 250px;
    }
    .img_text_block p{
        line-height: 18px;
        letter-spacing: 0.02em;
        font-weight: 300;
        font-size: 13px;
    }
    .img_text_two h3{
        font-size: 20px;
        max-width: 250px;
    }
    .img_text_two p{
        margin-top: 5px;
        line-height: 18px;
        letter-spacing: 0.02em;
        font-weight: 300;
        font-size: 13px;
    }
}

@media (max-width:400px) {
    .pack_left h3{
        font-size: 24px;
    }
    .pack_left img{
        width: 230px;
    }
    .pack_img{
        width: 220px;
        left: -10px;
    }
    .pack_img_two{
        width: 200px;
    }
    .third_span{
        font-size: 14px;
    }
    .third_box_war{
        font-size: 14px;
        margin: auto;
    }
    .invent_box h3{
        font-size: 14px;
        width: 140px;
    }
    .gift_box img{
        width: 100px;
    }
}

@media(max-width: 375px){
    .reg_con{
        height: 35vh;
        border: 2px solid #009EFF;
    }
    .reg_h3{
        font-size: 20px;
    }
    .reg_p{
        font-size: 9px;
    }
    input::placeholder{
        font-size: 10px;
    }
    #input_tel[type=number] {
        font-size: 10px;
        padding: 7px 5px;
    }
    .overview_img_p{
        font-size: 10px;
        justify-content: center;
    }
    .feat_h3{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .feat_box img{
        width: 35px;
    }
    .feat_box{
        margin-bottom: 15px;
    }
    .feat_box h3{
        font-size: 15px;
    }
    .feat_box p{
        font-size: 8px;
    }
    .content_p_one{
        font-size: 20px;
        line-height: 25px;
    }
    .content img{
        height: 170px;
    }
    .logo_menu{
        display: block;
    }
    .logo_img{
        display: flex;
        justify-content: center;
    }
    .author_box{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    .third_box_btn div{
        font-size: 14px;
        padding: 10px 0px;
    }
    .pay_box_two{
        width: 280px;
    }
}

@media(max-width: 315px){
    .second_box{
        width: 200px;
        height: 300px;
    }
}
